//font text
$font-relway: 'Raleway', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-lato: 'Lato', sans-serif;

// font size
$font-size-base: 14px;
$font-size-medium: 36px;
$font-size-large: 60px;
$font-size-h1: 30px;

// margin - padding
$margin-tiny: 5px;
$margin-small: 10px;
$margin-medium: 15px;
$margin-large: 50px;

$padding-tiny: 5px;
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 40px;
$padding-big: 60px;
//line-height
$line-height-tiny: 24px;
$line-height-small: 50px;
$line-height-medium: 70px;
$line-height-large: 100px;

//color
$color-while: #fff;
$color-text-menu: #2c3e50;
$color-light-green: #04bfbf;
$color-light-blue: #85c7dd;
$color-gray: #92a0a9;
$color-dark-gray: #2f2933;
$color-dark-brown: #60646e;
$color-light-brown: #9195a5;
$color-dark-red: #6e6a79;

//font weight
$weight-small: 400;
$weight-medium: 600;
$weight-large: 800;

//width - height
$height-tiny: 100px;
$height-small: 280px;
$height-medium: 500px;
$height-large: 977px;

$width-container: 1170px;

//top - left - buttom - right
$top-small: -5px;

