// font size

$font-size-base: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-h1: 30px;

// margin - padding

$margin-tiny: 5px;
$margin-small: 10px;
$margin-medium: 15px;
$margin-large: 20px;

$padding-tiny: 5px;
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 25px;

//height
$max-height-small: 100px;
$line-height: 100px;

//color text menu
$color-text-menu: #000;

//font weight
$small-weight: 400;
$medium-weight: 600;
$large-weight: 800;