---
layout: default
title: 'Index pages'
---

!= partial ('slider')

!= partial ('introduc')

!= partial ('portfolio')

!= partial ('skill')

!= partial ('social')

!= partial ('layout-feature')

!= partial ('news')

!= partial ('mobile')

!= partial ('customer')

!= partial ('team')

!= partial ('client')

!= partial ('contact')