// code here
.preview, .next {
  background-color: $color-dark-brown;
}
button {
  outline: none;
  border: solid 1px $color-while;
  color: $color-while;
  font-weight: $weight-medium;
  font-size: $font-size-base;
  text-transform: uppercase;
  cursor: pointer;
}