.contact {
  display: flex;
}
.maps {
  background-color: $color-dark-brown;
  height: 610px;
  width: 40%;
}
.left-arrow {
  position: relative;
  background: $color-while;
  padding: 18px;
  width: 60%;
  left: -1px;
  padding-top: 100px;
}
.left-arrow:after {
  content: '';
  display: block;  
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid $color-while;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.left-arrow .intro-title {
  text-align: inherit;
  padding-left: 100px;
  padding-right: 380px;
}
.left-arrow .intro-title hr {
  margin-left: 0;
}