.logo_img {
  @extend %height-define;
}
.logo_img img {
  vertical-align: middle;
  position: relative;
  top: $top-small;
  padding-right: $padding-medium;
}
.logo_img h1 {
  font-size: $font-size-h1;
  font-weight: $weight-large;
}