.wrap-feature {
  @extend %margin-top;
  display: inline-flex;
  color: $color-while;
}
.box-feature-green {
  background-color: $color-light-green;
}
.box-feature-brown {
  background-color: $color-dark-gray;
}
.box-feature-blue {
  background-color: $color-light-blue;
}
.box-feature-green, .box-feature-brown, .box-feature-blue {
  padding: 75px 70px;
}
.wrap-feature hr {
  @extend %hr;
  background-color: $color-while;
  margin-left: 0;
}
.wrap-feature p {
  @include font-size(14px);
  color: $color-while !important;
}
.wrap-feature p > a {
  color: $color-while;
  text-decoration: underline;
}
.wrap-feature h4 {
  @include font-size(24px);
}
.info {
  @extend %title-light-green;
  color: $color-while !important;
}
.wrap-feature button {
  background: none;
  margin: $margin-large $margin-medium 0 0;
  width: 250px;
  height: 60px;
}
.wrap-feature button span.icon-arrow-long-right {
  display: none;
}
.wrap-feature button:hover {
  background: none;
  margin: $margin-large $margin-medium 0 0;
}
.wrap-feature button:hover span.icon-arrow-long-right{
  display: inline-block;
}