nav {
	  float: right;
}
ul.mainMenu li{
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  padding-left: $padding-large;
  @extend %height-define;
  color: $color-text-menu;
}
