.portfolio {
  @extend %margin-top;
}
.portfolio p > a {
  text-decoration: underline;
}
.row {
  position: relative;
  display: flex;
  color: $color-while;
}
.h4-define{
  font-weight: $weight-large;
  padding-bottom: $padding-small;
}
.line1, .line2 {
  display: flex;
}
ul.line1 li, ul.line2 li{
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  padding: 140px 50px;
  color: $color-while;
}
ul.line1 li > h4 {
  @extend .h4-define;
}
ul.line2 li > h4 {
  @extend .h4-define;
}
ul.line1 li:nth-child(even) {
  background-color: $color-light-brown;
}
ul.line1 li:nth-child(odd) {
  background-color: lighten($color-dark-brown, 10%);
}
ul.line2 li:nth-child(odd) {
  background-color: $color-light-brown;
}
ul.line2 li:nth-child(even) {
  background-color: lighten($color-dark-brown, 10%);
}
ul.line1 li:hover {
  background-color: $color-gray;
}
ul.line2 li:hover {
  background-color: $color-gray;
}
ul.rate li {
  display: inline-block;
  padding: 95px 0; 
  text-align: center;
  text-transform: capitalize;
}
.rate {
  background-color: $color-dark-gray;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.rate p.number {
  @extend %text-light-green;
  font-size: $font-size-large;
  padding-bottom: $padding-medium;
}
.img-wooc, .great-wooc {
  @extend %margin-top;
  width: 50%;
  float: left;
  position: relative;
  box-sizing: border-box;
}
.great-wooc {
  padding-right: $padding-big;
}
.img-wooc {
  padding-left: 85px;
}
.great-wooc h2 {
  @extend %h2-define;
}
.great-wooc hr {
  @extend %hr;
  background-color: $color-gray;
  float: left;
}
.great-wooc button {
  background-color: $color-light-green;
  padding: 22px $padding-big;
  margin-top: $padding-medium*2;
}
