.social {
  @extend %margin-top;
  text-align: center;
}
.social .circle{
  @include circle(100px);
  @extend .style-circle;
}
.social ul li {
  display: inline-block;
  position: relative;
  padding: 0 40px;
}
