section.client
  .container
    .intro-title
      h5.title our clients
      h2 checkout our clients
      hr
      p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam, et semper est accumsan quis
    ul.logo-client
      li
        img.before-hover(src="images/logo-adventure.png", alt="The logo client Adventure")
        img.after-hover(src="images/hv-logo-adventure.png", alt="The logo client Adventure")
      li
        img.before-hover(src="images/logo-camp.png", alt="The logo client Campfire")
        img.after-hover(src="images/hv-logo-camp.png", alt="The logo client Campfire")
      li
        img.before-hover(src="images/logo-campfire.png", alt="The logo client Campfire")
        img.after-hover(src="images/hv-logo-campfire.png", alt="The logo client Campfire")
      li
        img.before-hover(src="images/logo-hand.png", alt="The logo client Handcrafted")
        img.after-hover(src="images/hv-logo-hand.png", alt="The logo client Handcrafted")
      li
        img.before-hover(src="images/logo-mountain.png", alt="The logo client Mountain")
        img.after-hover(src="images/hv-logo-mountain.png", alt="The logo client Mountain")
      li
        img.before-hover(src="images/logo-authentic.png", alt="The logo client Authentic")
        img.after-hover(src="images/hv-logo-authentic.png", alt="The logo client Authentic")
