-var captIntro = 'Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus. Donec tristique eget neque sed cursus.'
-var listCapt = [{icon: 'icon-edit', title: 'elegant blog designs'}, {icon: 'icon-device-laptop', title: 'super responsive'}, {icon: 'icon-camera', title: 'retina display'}, {icon: 'icon-content_paste', title: 'elegant woocommerce'}, {icon: 'icon-heart', title: 'firendly shortcode'}, {icon: 'icon-briefcase', title: 'esuper porfolio'}]
section.customer
  .container
    .intro-title
      h5.title why customers use TheFox?
      h2 awesome key features
      hr
    .intro-customer
      each item in listCapt
        .customer-post
          .circle
            span(class='#{item.icon}')
          .capt-intro
            h4= item.title
            p.p-lato= captIntro
section.question
  .container
    h5.title Do you want to check all out features? All things are very nice and ready to customize!
    button learn more