section.customer
  .container
    .intro-title
      h5.title why customers use TheFox?
      h2 awesome key features
      hr
    .intro-customer
      .customer-post
        .circle
          span.icon-edit
        .capt-intro
          h4 elegant blog designs
          p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus. Donec tristique eget neque sed cursus.
      .customer-post
        .circle
          span.icon-device-laptop
        .capt-intro
          h4 super responsive
          p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus. Donec tristique eget neque sed cursus.
      .customer-post
        .circle
          span.icon-camera
        .capt-intro
          h4 retina display
          p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus. Donec tristique eget neque sed cursus.
      .customer-post
        .circle
          span.icon-content_paste
        .capt-intro
          h4 elegant woocommerce
          p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus. Donec tristique eget neque sed cursus.
      .customer-post
        .circle
          span.icon-heart
        .capt-intro
          h4 firendly shortcodes
          p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus. Donec tristique eget neque sed cursus.
      .customer-post
        .circle
          span.icon-briefcase
        .capt-intro
          h4 esuper porfolio
          p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus. Donec tristique eget neque sed cursus.
section.question
  .container
    h5.title Do you want to check all out features? All things are very nice and ready to customize!
    button learn more