header.container
  .logo_img.pull-left
    h1
      a(href="javascript: void(0);")
        img(src="./images/logo.png", alt="The logo") 
        | thefox
  nav
    ul.mainMenu
      li
        a(href="javascript: void(0);").active
          | home
      each item in ['page', 'portfolio', 'blog', 'shop', 'shortcodes', 'feature', 'contact']
        li
          a(href="javascript: void(0);")=item
      li
        a(href="javascript: void(0);")
          span.icon-search
      li
        a(href="javascript: void(0);")
          span.icon-menu
  .clear