-var introPage = 'Fusce placerat elit vel augue egestas rutrum. Nunc facilisis at enim id varius. Mauris pulvinar dolor fermentum fringilla nim diam semper ondimentum Convallis nunc erossen stunning.'
section.introduc
  .container
    div.intro-box.pull-left
      div.circle
        span.icon-equalizer2
      h5.modal__title Awesome
      h4 friendly admin panel
      hr
      p.p-lato= introPage
    div.intro-box.pull-left
      div.circle
        span.icon-content_paste
      h5.modal__title Stunning
      h4 woocommerce
      hr
      p.p-lato= introPage
    div.intro-box.pull-left
      div.circle
        span.icon-atom
      h5.modal__title Completely
      h4 design customizable
      hr
      p.p-lato= introPage
  .clear
section.who-we
  .we-are
    .wrapper
      p.hello hello world!
      h2 who we are?
      hr
      p.p-lato In ornare a leo ac fringilla. Sed et ex finibus, suscipit nisl vel, semper risus. Phasellus quam ligula, ornare quis nunc et, dignissim interdum ex. <a href="javascript: void(0)">Phasellus rutrum</a> urna quis nunc lobortis maximus. Nam mattis purus nec felis fermentum suscipit. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas dapibus hendrerit purus eget consectetur. Phasellus quam ligula, ornare quis nunc et, dignissim interdum.
      button 
        span.icon-briefcase 
        |view porfolio
  .who-slider
    button 
      span.icon-arrow-long-right
    button 
      span.icon-arrow-long-right
