section.introduc
  .container
    div.intro-box.pull-left
      div.circle
        span.icon-equalizer2
      p.title Awesome
      h4 friendly admin panel
      hr
      p Fusce placerat elit vel augue egestas rutrum. 
      | Nunc facilisis at enim id varius. Mauris pulvinar dolor fermentum fringilla nim diam semper ondimentum Convallis nunc erossen stunning.
    div.intro-box.pull-left
      div.circle
        span.icon-content_paste
      p.title Stunning
      h4 woocommerce
      hr
      p Fusce placerat elit vel augue egestas rutrum. 
      | Nunc facilisis at enim id varius. Mauris pulvinar dolor fermentum fringilla nim diam semper ondimentum Convallis nunc erossen stunning.
    div.intro-box.pull-left
      div.circle
        span.icon-atom
      p.title Completely
      h4 design customizable
      hr
      p Fusce placerat elit vel augue egestas rutrum. 
      | Nunc facilisis at enim id varius. Mauris pulvinar dolor fermentum fringilla nim diam semper ondimentum Convallis nunc erossen stunning.
.clear