section.container-fluid
  .wrap-feature
    .box-feature-green
      h5.info Wow! Great typhotography
      h4 super strong typography
      hr
      p.p-lato In ornare a leo ac fringilla. Sed et ex finibus, suscipit nisl vel, semper risus. Phasellus quam ligula, ornare quis nunc et, dignissim interdum ex. <a href="javascript: void(0)">Phasellus rutrum</a> urna quis nunc lobortis maximus.
      button check demo 
        span.icon-arrow-long-right
    .box-feature-brown
      h5.info Make a sire in 30 minutes
      h4 awesome shortcodes ready
      hr
      p.p-lato In ornare a leo ac fringilla. Sed et ex finibus, suscipit nisl vel, semper risus. Phasellus quam ligula, ornare quis nunc et, dignissim interdum ex. <a href="javascript: void(0)">Phasellus rutrum</a> urna quis nunc lobortis maximus.
      button check demo 
        span.icon-arrow-long-right
    .box-feature-blue
      h5.info Make for all devices
      h4 super responsive display
      hr
      p.p-lato In ornare a leo ac fringilla. Sed et ex finibus, suscipit nisl vel, semper risus. Phasellus quam ligula, ornare quis nunc et, dignissim interdum ex. <a href="javascript: void(0)">Phasellus rutrum</a> urna quis nunc lobortis maximus.
      button check demo 
        span.icon-arrow-long-right
