section.parallax
  .container
    h5 Please don't wait for anything
    h2 buy thefox today
    button purchase now
    button check all demo
section.mobile
  .container
    .img-mobile
      img(src="images/ip6-mockup.png", alt="Iphone 6")
    .optimized
      h5.title you won't regret 
      h2 optimized for mobile devices
      hr
      p.p-lato In ornare a leo ac fringilla. Sed et ex finibus, suscipit nisl vel, semper risus. Phasellus quam ligula, ornare quis nunc et, dignissim interdum ex. Phasellus rutrum urna quis nunc lobortis maximus. <br><br> Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam, et semper est accumsan quis. Nunc nec odio convallis, egestas libero sed, congue velit. Donec tristique eget neque sed cursus. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et dolor auctor, malesuada nunc et, tristique ex. Etiam volutpat tempus felis, vel pretium sem malesuada quis. Nam lacus dui, vestibulum euismod faucibus sed, venenatis quis ipsum. Proin elementum vel magna id efficitur. Proin sodales elit sed dictum tempor. Nam quis congue mi, non tempus quam. Pellentesque odio eros, molestie at pulvinar ac, scelerisque id libero. Maecenas egestas…
      button learn more
