section.new
  .container
    .intro-title
      h5.title breaking news
      h2 check our latest blog
      hr
      p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam, et semper est accumsan quis.
    .warp-blog-post
      .blog-post
        h4 hardworking on fox
        h5.title 12 october | category
        .img
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam...
      .blog-post
        h4 ready to love thefox
        h5.title 12 october | category
        .img
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam...
      .blog-post
        h4 standard post
        h5.title 12 october | category
        .img
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam...
      .warp-blog-post
      .blog-post
        h4 how do we call this
        h5.title 12 october | category
        .img
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam...
      .blog-post
        h4 beautiful design
        h5.title 12 october | category
        .img
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam...
      .blog-post
        h4 awesome work
        h5.title 12 october | category
        .img
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam...
  button view all post
