section.container
  .portfolio
    .intro-title
      h5.modal__title check some our works
      h2 featured portfolio
      hr
      p.p-lato In ornare a leo ac fringilla. Sed et ex finibus, suscipit nisl vel, semper risus. Phasellus quam ligula, ornare quis nunc et, dignissim interdum ex. <a href="javascript: void(0)">Phasellus rutrum</a> urna quis nunc lobortis maximus.
section.container-fluid
  ul.line1
    li
      h4 fox relax photo
      p Photography
    li
      h4 the beauty
      p Photography
    li
      h4 trending couple
      p Photography
    li
      h4 world business
      p Brand
  ul.line2
    li
      h4 luv summer
      p Photography
    li
      h4 elegant workspace
      p Web Design
    li
      h4 the gre mountain
      p Wordpress Themes
    li
      h4 rex hardwork
      p Photography
  .row
    ul.rate
      li
        p.number 78000
        h5 customer
      li
        p.number 9000
        h5 cups of coffee
      li
        p.number 1753
        h5 features added
      li
        p.number 2300
        h5 tickets answered
      li
        p.number 80567
        h5 facebook likes
      li
        p.number 14892
        h5 twitter followers
section.wooc
  .container
    .row
      .great-wooc
        h5.modal__title do you need a shop?
        h2 great woocommerce
        hr
        p In ornare a leo ac fringilla. Sed et ex finibus, suscipit nisl vel, semper risus. Phasellus quam ligula, ornare quis nunc et, dignissim interdum ex. Phasellus rutrum urna quis nunc lobortis maximus. 
        br
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam, et semper est accumsan quis. Nunc nec odio convallis, egestas libero sed, congue velit. Donec tristique eget neque sed cursus.
        button check demo
      .img-wooc
        img(src="./images/ninja-kick.png", alt="Images laptop ninja")

