section.skill
  .container
    .warp-skill
      h5.title why you choose us?
      h2 check some nice skills
      hr
      p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam, et semper est accumsan quis. Nunc nec odio convallis, egestas libero sed, congue velit. Donec tristique eget neque sed cursus. In hac habitasse platea dictumst.
    .row
      div.skill-rate
        h4 wordpress
        div.percent
          div.wordpress-rate
      div.skill-rate
        h4 photoshop design
        div.percent
          div.design-rate
    .row
      div.skill-rate
        h4 online marketing
        div.percent
          div.maketing-rate
      div.skill-rate
        h4 graphic design
        div.percent
          div.graphic-rate
    .row
      div.skill-rate
        h4 one of the best pad author
        div.percent
          div.psd-rate
      div.skill-rate
        h4 online support
        div.percent
          div.support-rate
section.skill-slider
  .container
    h5 This is a fucking, awesome and amazing work! I have just bought for personal tests. <br> I really love this project: from "its organization" to "what it offers" <br> Amazing, i'm waiting for some your new stuff!
    hr
    h4 sam isbister
    button
      span.icon-chevron-left
    button
      span.icon-chevron-right
