section.container
  .social
    .social-text
      h5.title get social icons
      h2 check our social
      hr
      p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam, et semper est accumsan quis
    ul
      li
        div.circle
          span.icon-twitter
        h5.title follow us on
        h4 twitter
      li
        div.circle
          span.icon-facebook
        h5.title follow us on
        h4 facebook
      li
        div.circle
          span.icon-pinterest
        h5.title follow us on
        h4 pinterest
      li
        div.circle
          span.icon-instagram
        h5.title awesome pics on
        h4 instagram
      li
        div.circle
          span.icon-vimeo
        h5.title video tutorial on
        h4 vimeo
      li
        div.circle
          span.icon-youtube
        h5.title subscribe on
        h4 youtube
