-var socialList = [{icon: 'icon-twitter', name: 'twitter'}, {icon: 'icon-facebook', name: 'facebook'}, {icon: 'icon-pinterest', name: 'pinterest'}, {icon: 'icon-instagram', name: 'instagram'}, {icon: 'icon-vimeo', name: 'vimeo'}, {icon: 'icon-youtube', name: 'youtube'}]
section.container
  .social
    .intro-title
      h5.modal__title get social icons
      h2 check our social
      hr
      p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam, et semper est accumsan quis
    ul
      each item in socialList
        li
          div.circle
            span(class='#{item.icon}')
          h5.modal__title follow us on
          h4= item.name