section.team
  .container
    .intro-title
      h5.modal__title who did TheFox?
      h2 meet out team
      hr
      p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis sagittis ultricies. Maecenas cursus felis diam, et semper est accumsan quis
    .wrap-team
      .team-member
        .profile
          .profile-hover
            ul.contact
              li
                span.icon-facebook
              li
                span.icon-twitter
              li
                span.icon-linkedin
        h4 sam isbister
        h5.modal__title founder / online marketer
        hr
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis...
      .team-member
        .profile
          .profile-hover
            ul.contact
              li
                span.icon-facebook
              li
                span.icon-twitter
              li
                span.icon-linkedin
        h4 sammy - jo burlton
        h5.modal__title project leader / social media
        hr
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis...
      .team-member
        .profile
          .profile-hover
            ul.contact
              li
                span.icon-facebook
              li
                span.icon-twitter
              li
                span.icon-linkedin
        h4 tran mau tri tam
        h5.modal__title lead designer
        hr
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis...
      .team-member
        .profile
          .profile-hover
            ul.contact
              li
                span.icon-facebook
              li
                span.icon-twitter
              li
                span.icon-linkedin
        h4 dang thi ngoc bich
        h5.modal__title leader developer
        hr
        p.p-lato Quisque commodo vestibulum arcu nec aliquet. Proin consectetur sed velit nec cursus. Mauris fringilla leo mollis...

    