// code here
body {
  margin: 0 auto;
  font-family: $font-relway;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
}
.container {
  width: $width-container;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
  color: $color-text-menu;
}
.pull-left {
  float: left;
}
.clear {
  clear: both;
}