// code here
body {
  margin: 0 auto;
  font-family: $font-relway;
  display: table;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: $weight-large;
}
a {
  text-decoration: none;
  color: $color-text-menu;
  cursor: pointer;
}

